venv/
__pycache__/
.env
.git/

#.DOCKERIGNORE — простыми словами

#.dockerignore нужен для того, чтобы Docker
#не добавлял ненужные файлы и папки в Docker image.

#Например, нам не нужно отправлять в Docker:

#- venv
#- .git
#- __pycache__
#- .pytest_cache
#- другие ненужные файлы

#Зачем это нужно?

#Чтобы Docker не копировал в image
#лишние файлы и не делал image больше, чем нужно.

#Как это работает:

#1. Создаём файл:

#.dockerignore

#2. Пишем туда то, что Docker не должен копировать:

#venv/
#.git/
#__pycache__/
#.pytest_cache/

#3. Когда Docker собирает image,
#он игнорирует эти файлы и папки.


#Главная идея:

#.dockerignore → говорит Docker:
#«Не бери эти файлы при создании image».


#Простая аналогия:

#Docker собирает чемодан для приложения.

#.dockerignore говорит:
#«Вот это в чемодан не клади».


#Разница:

#.gitignore
#→ что НЕ отправлять в Git/GitHub.

#.dockerignore
#→ что НЕ отправлять Docker при сборке image.

#.gitignore → не отдаём Git.
#.dockerignore → не отдаём Docker.