.env
venv/
__pycache__/


# .GITIGNORE — простыми словами

# .gitignore нужен для того, чтобы Git не добавлял
# определённые файлы и папки в наш репозиторий.

# Например, нам не нужно отправлять на GitHub:

# - venv
# - .env
# - __pycache__
# - .pytest_cache
# - другие временные или секретные файлы

# Зачем это нужно?

# Чтобы не загружать в GitHub то, что там не должно находиться.

# Например:

# .env
   ↓
# содержит пароль и SECRET_KEY
   ↓
# .gitignore говорит Git:
# «Не добавляй этот файл в репозиторий».

# Как это работает:

# 1. Создаём файл:

# .gitignore

# 2. Пишем туда то, что Git должен игнорировать:

# venv/
# .env
# __pycache__/
# .pytest_cache/

# 3. Когда Git смотрит на проект,
# он не добавляет эти файлы в отслеживание.


# Главная идея:

# .gitignore → говорит Git, что НЕ нужно отправлять в репозиторий.


# Простая аналогия:

# GitHub — это чемодан, который мы показываем другим.

# .gitignore — список:
# «Вот это в чемодан не клади».